[hyper]
batch_size = 64
learning_rate = 0.003
_lambda1 = 1
_lambda2 = 1
margin = 1
mlp_output_dim = 8
hidden_features = 32
out_features = 1
num_relation = 3
num_node = 354
embeded_dim = 64
num_layers = 2

[model]
input_len = 8
output_len = 8
in_features = 7
; PM10 PM25
value = PM10
; train_test or test
mode = train_test
; path of the best validate model
model_save_path = 

[train]
repeat_time = 10
; zero for normal train, other number for breakpoint retrain
start_epoch = 0
epochs = 500
patient = 50